body {
    background-color: #00ffff48;
}
.laur {
    display: block;
    width: 250px;
    margin:0 auto;
    padding: 15px;
    align-items: center;
    text-align: center;
    background-color: #892be2aa;
    /* border: 1px solid grey; */
    border-radius: 25px;
    box-shadow: 0px 0px 15px 15px #892be2aa;
}

.laur p {
    color: rgb(0, 255, 217);
}

.laur img {
    border-radius: 25px;
}